<main class="login">
  <div class="login__column">
    <img src="assets/phone.png" alt="Phone Image" title="Phone Image" class="login__phone-image" />
  </div>
  <section class="login__column">
    <div class="login__section login__sign-in">
      <img src="assets/logo.png" alt="Logo" title="Logo" class="login__logo" />
      <!-- x   -->
      <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate class="login__form">
        <div class="login__input-container">
          <input
            type="text"
            name="username"
            pformControlName="username"
            autocomplete="username"
            [placeholder]="'Username'"
            required
            class="login__input"
          />
          <small
            [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
            class="text-danger"
            translate
          >
            Username is required
          </small>
        </div>
        <div class="login__input-container">
          <input
            type="password"
            name="password"
            formControlName="password"
            autocomplete="current-password"
            [placeholder]="'Password' | translate"
            class="login__input"
          />
          <small
            [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
            class="text-danger"
            translate
          >
            Password is required
          </small>
        </div>
        <div class="login__input-container">
          <input type="submit" value="Log in" class="login__input login__input--btn" />
        </div>
      </form>
      <span class="login__divider">or</span>
      <a class="login__fb-link" href="#">
        <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> Log in with Facebook
      </a>
    </div>
    <div class="login__section login__sign-up">
      <span class="login__text">
        Don't have an account?
        <a href="#" class="login__link">
          Sign up
        </a>
      </span>
    </div>
    <div class="login__section login__section--transparent login__app">
      <span class="login__text">
        Get the app.
      </span>
      <div class="login__appstores">
        <img src="assets/ios.png" alt="iOS" title="Get the app!" class="login__appstore" />
        <img src="assets/android.png" alt="Android" title="Get the app!" class="login__appstore" />
      </div>
    </div>
  </section>
</main>
