<nav class="navigation">
  <a>
    <img src="assets/navLogo.png" alt="logo" title="logo" class="navigation__logo" />
  </a>
  <div class="navigation__search-container">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search" />
  </div>
  <div class="navigation__icons">
    <a class="navigation__link">
      <i class="far fa-compass"></i>
    </a>
    <a class="navigation__link">
      <i class="far fa-heart"></i>
    </a>
    <a class="navigation__link">
      <i class="far fa-user"></i>
    </a>
  </div>
</nav>
